<ion-content [fullscreen]="true">
 <div class="auth-card">
    <h2>🌾 Welcome Back</h2>
    <p>Login to continue 🌱</p>
  </div>
  <form [formGroup]="loginForm">
    <ion-list>
      <ion-item>
        <ion-input labelPlacement="floating" formControlName="mobile" placeholder="Mobile">
          <div slot="label">Mobile <ion-text color="danger">*</ion-text></div>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input labelPlacement="floating" type="password" formControlName="password" placeholder="Password">
          <div slot="label">Password <ion-text color="danger">*</ion-text></div>
        </ion-input>
      </ion-item>
    </ion-list>
  </form>
  <div style="text-align:right;"><a routerLink="/forgot-password">Forgot Password? </a></div>
  <div style="margin:15px;"><ion-button fill="outline" expand="block" (click)="login()">Login</ion-button></div>
  <div style="text-align:center;"><span style="margin-right:5px;">Don't have an account?</span> <a routerLink="/register">Register</a></div>

</ion-content>
