<ion-content [fullscreen]="true">
  <div class="auth-card">
    <h2>Reset Password</h2>
    <p>Enter your email to reset your password 🌱</p>
  </div>
  <form [formGroup]="resetForm">
    <ion-list>
      <ion-item>
        <ion-input labelPlacement="floating" type="email" formControlName="email" placeholder="Email">
          <div slot="label">Email</div>
        </ion-input>
      </ion-item>
    </ion-list>
  </form>
  <div style="margin:15px;"><ion-button fill="outline" expand="block">Reset Password</ion-button></div>
  <p style="text-align:center;">Already have an account? <a routerLink="/login">Login</a></p>

</ion-content>
